[submodule "app/plugins/debug_kit"]
	path = app/plugins/debug_kit
	url = git://github.com/cakephp/debug_kit.git
[submodule "app/plugins/localized"]
	path = app/plugins/localized
	url = git://github.com/cakephp/localized.git
[submodule "app/plugins/migrations"]
	path = app/plugins/migrations
	url = git://github.com/CakeDC/Migrations.git
